:root {
  font-size: 14pt;
  font-family: sans-serif;
  box-sizing: border-box;
  --color1: white;
  --color2: #2B1E1A;
  --color3: #861D1D;
  --color4: #E8E2D1;
  --color5: #EBCCB4;
  --color6: #f4B34C;
  --color7: #BF6F31;
}

/* TEKSTA NOFORMĒŠANA */
body {
  margin: 0px;
  padding: 0px;
}
h1, h2, h3 {
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  max-width: 60%;
  margin: 20px auto;
  /* border: 1px solid orange;
  border-bottom-width: 5px; */
  padding: 15px;
  text-align: justify;
}

/* ATTĒLU NOFORMĒŠANA */
img {
  /* width: 400px; */
  /* margin-left: 50px; */
  display: block;
  margin: 20px auto;
  /* border-radius: 10px; */
  /* border: 1px solid red; */
  /* border-bottom-width: 4px; */
}
.picture img {
  width: 35%;
  border: none;
}
.picture2 { /*Attēls tabulas pilnā platumā*/
  max-width:1000px;
}
.icon {
  height: 30px;
  border: none;
}
.logoLanguage {
  height: 12rem;
  width: auto;
  border:none;
}

/* IEVIETOTĀ SATURA NOFORMĒŠANA */
#JavaScriptIevads {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%; /* Nodrošina, ka section aizņem visu platumu */
}
.iframe-container {
  width: 100%;
  max-width: 978px; /* Ierobežo iframe konteinera maksimālo platumu */
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.codepen {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

/* SAIŠU NOFORMĒŠANA */
a {
  text-decoration: none;
  color: inherit;
}
.avots {
  text-decoration: underline;
  color: var(--color3);
}

/* TABULU NOFORMĒŠANA */ 
.table, .table2 {
  border: 1px solid var(--color2);
  margin: 20px auto;
  border-collapse:collapse;
  width: 60%;
}
.table tr, .table td, .table2 tr, .table2 td, .table2 th {
  border: 1px solid var(--color2);
  padding: 5px;
}
.table tr:nth-child(2n){
  background-color: var(--color4);
}
th {
  background-color: var(--color3);
  color: var(--color1);
  border: 1px solid var(--color2);
  padding: 5px;
}
.table2 th, .table2 td {
  width: 15%; /* Fiksēts kolonnu platums */
}
.izcelt {
  background-color: var(--color4);
}

/* SARAKSTU NOFORMĒŠANA */
ul {
  width: 50%;
  margin: 5px auto;
}
li {
  padding: 5px 0;
  text-align: justify;
}

/* GALVENĀS IZVĒLNES NOFORMĒŠANA */
nav {
  height: 50px;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
  align-items: center; /*flex-start; */
  gap: 20px;
}
nav a {
  color: var(--color4);
  text-decoration: none;
}
nav a:not(.active):hover {
  color: var(--color5);
  transition: all 0.5s linear;
}
a.active {
  color: var(--colors6);
  transition: all 0.5s linear; /*Šobrīd šeit nav nozīmes*/
}

/* KĀJENES NOFORMĒŠANA */
footer {
  background-color: var(--color2);
  color: var(--color1);
  padding: 30px 30px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.left_footer, .right_footer {
  width: 50%;
}
.left_footer dt {
  font-weight: bold;
  margin: 10px 0px;
}
.left_footer dd {
  font-weight: 100;
}
footer form, address {
width: 70%;
}
.left_footer address h3, .left_footer dt {
font-style: normal;
}
footer form label {
  display: block;
  margin-top: 10px;
}
footer form input, footer form textarea {
  box-sizing: border-box; /*Lai padding nepalielina elementa platumu*/
  width:100%;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--color4);
}
footer form input:focus-visible, footer form textarea:focus-visible{
  background-color: var(--color1);
  transition: .5s linear;
}
footer form textarea {
  height:200px;
  resize: none; /*neļauj mainīt izmēru*/
}
footer form button {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--color4); 
  outline: 2px solid var(--color3);
  border: none;
  cursor: pointer;
  font-weight: 700;

}
footer form button:hover {
  background-color: var(--color1);
  transition: .5s linear;
}
.googleMaps{
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
/* IEVIETOTĀ KODA NOFORMĒŠANA */
.kods {
  width: 60%;
  margin: 30px auto;
}
pre {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
pre::before {
      content: attr(data-language);
      background-color: var(--color7);
      color: var(--color1);
      font-size: 14px;
      font-family: Arial, sans-serif;
      text-transform: uppercase;
      padding: 8px 12px;
      display: block;
      width: 100%;
}
pre code {
      padding: 12px;
      display: block;
      overflow-x: auto;
      font-size: 1.5rem;
}






