:root {
  font-size: 14pt;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
h1, h2, h3 {
  text-align: center;
  margin: 0px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p {
  max-width: 50%;
  margin: 20px auto;
  border: 1px solid orange;
  border-bottom-width: 5px;
  padding: 15px;
  text-align: justify;
}

img {
  width: 400px;
  /* margin-left: 50px; */
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid red;
  border-bottom-width: 4px;
}

nav {
  height: 50px;
  background-color: #ef8717;
  display: flex;
  justify-content: center;
  align-items: center; /*flex-start; */
  gap: 20px;
}

nav a {
  color: rgb(251, 174, 174);
  text-decoration: none;
}

nav a:not(.active):hover {
  color: white;
  transition: all 0.5s linear;
}
a.active {
  color: red;
  transition: all 0.5s linear; /*Šobrīd šeit nav nozīmes*/
}

footer {
  background-color: rgb(103, 55, 28);
  color: white;
  padding: 30px 30px;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}
.left-footer, .right-footer {
  width: 50%;
}

.googleMaps{
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

